[Desktop Entry]
#Name=LightDM GTK+ Greeter
#Comment=This runs the GTK+ greeter, it should only be run from LightDM
Name=LightDM Synth-Greeter
Comment=This runs the Synth-Greeter, it should only be run from LightDM
#Exec=lightdm-gtk-greeter
Exec=synth-greeter
Type=Application
X-Ubuntu-Gettext-Domain=lightdm
